NODE_ENV=development
PORT=3000

# JWT — troque em produção por uma string longa e aleatória
JWT_SECRET=audtech_super_secret_key_mude_em_producao
JWT_EXPIRES_IN=8h

# URL do frontend Angular
FRONTEND_URL=http://localhost:4200

# Pasta de uploads (relativa à raiz do projeto)
UPLOAD_DEST=./uploads
